{{ $custom_css := resources.Get "css/custom.css" }}
{{ if $custom_css }}
  {{ $custom_css := $custom_css | resources.Minify }}
  <link rel="stylesheet" href="{{ $custom_css.RelPermalink }}">
{{ end }}

{{ $year_grouping_js := resources.Get "js/year-grouping.js" }}
{{ if $year_grouping_js }}
  {{ $year_grouping_js := $year_grouping_js | resources.Minify }}
  <script src="{{ $year_grouping_js.RelPermalink }}" defer></script>
{{ end }}

{{/* GitHub stats JS is loaded dynamically when open-source section is clicked */}}
{{/* $github_stats_js := resources.Get "js/github-stats.js" */}}
{{/* if $github_stats_js */}}
{{/*   $github_stats_js := $github_stats_js | resources.Minify */}}
{{/*   <script src="{{ $github_stats_js.RelPermalink }}" defer></script> */}}
{{/* end */}}