{{/* Homepage news-feed partial: compact list, MM/YYYY date + title. */}}
{{ $limit := .limit | default 5 }}
{{ $pages := first $limit (where site.RegularPages "Section" "news") }}
{{ if gt (len $pages) 0 }}
<section class="news-feed">
  <header class="news-feed__head">
    <h2 class="news-feed__heading">News</h2>
    <a class="news-feed__all" href="/news/">All news &rarr;</a>
  </header>
  <ul class="news-feed__list">
    {{ range $pages }}
      <li class="news-line">
        <span class="news-line__date">{{ .Date.Format "01/2006" }}</span>
        <span class="news-line__title">{{ .Title }}</span>
      </li>
    {{ end }}
  </ul>
</section>
{{ end }}
